/*Estilos generales*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #666666;
    font-size: 20px;
    background-color: gainsboro;
}

a {
    text-decoration: none;
    color: #375750;
}

a:hover {
    color: #375750;
    font-weight: bold;
}

h3 {
    color: #375750;
}

p {
    margin-bottom: 20px;
    text-align: justify;
}

.logo {
    font-size: 80px;
}

/*Barra de navegación*/

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    /* box-shadow: 0px 4px 4px grey; */
    background-color: rgba(255, 255, 255, 0.836);
    box-shadow: 0px 4px 4px #218A72;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    padding: 0 15px;
    font-size: 20px;
}

.burger {
    font-size: 34px;
    display: none;
}

.activo {
    color: #375750;
    font-weight: bold;
}

/*Breadcrumbs*/

.primera {
    margin-top: 120px;
    padding: 20px;
}

/*Tarjetas*/

.titulo {
    width: 100%;
    text-align: left;
    margin: 25px;
    padding: 10px;
}

.titulo h3 {
    color: #8A3113;
}

.contenedor {
    font-family: 'Nunito', sans-serif;
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(2, 400px); 
    grid-gap: 40px;
    justify-content: center;
}

.tarjeta {
    width: 300px;
    height: 400px;
    box-shadow: 4px 4px 8px grey;
    background-color: white;
}
.tarjeta p{
    font-size: 16px;
    line-height: 1em;
}

.imagen {
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.imagen img {
    height: 200px;
}

.btn {
    background-color: #218A72;
    color: white;
    padding: 12px;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    /* border-bottom: 4px solid rgba(175, 174, 174, 0.623); */
    align-self: center; 
}

.btn:hover {
    background-color: rgb(20, 93, 76);
    color: white;
}

.datos {
    height: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 10px;
}

.arriba {
    display: flex;
    justify-content: space-around;
}

.direccion {
    width: 100%;
}

.direccion p:first-child {
    color: #218A72;
    font-size: 18px;
    font-weight: bold;
}

/*Menú de paginación*/

.botonpag {
    background-color: #8A3113;
    color: white;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
}

.botonpag:hover {
    background-color: #D66D49;
    color: black;
}

.paginacion {
    text-align: center;
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
}

.numero {
    color:  #8A3113;
    /* border: solid 1px  #8A3113; */
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

.numero:hover {
    color:  #8A3113;
}

/*Footer*/

footer {
    background-color: #218A72;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

footer p {
    font-size: 18px;
    padding: 5px;
}

.top {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -20px;
    left: 50%; /*es lo que lo pone en la mitad de la página*/
    transform: translateX(-50%); /*La mitad del ancho del elemento*/
    font-size: 36px;
    background-color: #218A72;
    color: whitesmoke;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top a {
    color:  white;
}

.izquierdo {
    /* border: #d2fff5 solid 1px; */
    padding: 20px;
    flex-basis: 200px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.centro {
    /* border: #d2fff5 solid 1px; */
    padding: 20px;
    flex-basis: 100px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.centro p {
    font-size: 22px;
    font-weight: bold;
}

.centro a {
    color: white;
    font-size: 18px;
}

.derecho {
    /* border: #d2fff5 solid 1px; */
    flex-basis: 100px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.derecho p {
    font-size: 22px;
    font-weight: bold;
}

.derecho a{
    color: white;
}

.rrss a{
    color: white;
    font-size: 30px;
    padding: 5px;
}

.rrss a:hover {
    font-size: 38px;
}

.copy {
    padding: 5px;
    width: 100%;
    background-color: white;
    color: #375750;
}

.copy p{
    font-size: 14px;
    text-align: center;
}



/*Media queries*/

@media (max-width:640px){

    .burger{
        display: initial;
    }

    nav {
        display: none;
    }

    .titulo {
        font-size: 20px;
    }
}

@media (max-width: 450px) {


    .titulo {
        width: 100%;
        text-align: left;
        margin: 20px;
        padding: 8px;
        font-size: 18px;
    }
    
}

@media (max-width: 420px) {

    .titulo {
        width: 100%;
        text-align: left;
        margin: 15px;
        padding: 5px;
        font-size: 16px;
    }

    .breadcrumbs {
        font-size: 16px;
    }

    .btn {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 380px) {

    .titulo {
        font-size: 14px;
    }

    .breadcrumbs {
        font-size: 14px;
    }
}
