/*Estilos generales*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #666666;
    font-size: 20px;
    background-color: rgb(245, 245, 239);
}

a {
    text-decoration: none;
    color: #375750;
}

a:hover {
    color: #375750;
    font-weight: bold;
}

h3 {
    color: #375750;
}

p {
    margin-bottom: 20px;
    text-align: justify;
    font-size: 20px;
}

.logo {
    font-size: 80px;
}

/*Barra de navegación*/

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.836);
    box-shadow: 0px 4px 4px #218A72;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    padding: 0 15px;
    font-size: 20px;
}

/* header.blanco {
    box-shadow: initial;
    background-color: initial;
} */

/*Menú hamburguesa página de inicio*/

.burger {
    font-size: 34px;
    display: none;
    color: #375750;
}

.burger:hover {
    color: #218A72;
}

.menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70%;
    height: 100vh;
    display: none;
    background-color: #d2fff5;
    z-index: 10;
}

.cerrar {
    font-size: 34px;
    color: #3f3f3f;
    padding-top: 22px;
    padding-left: 28px;
}

.menu ul {
    display: flex;
    flex-direction: column;
    list-style: none; 
}

.menu ul a{
    padding: 10px;
    width: 100%;
    color: #375750;
}

.menu ul a:hover {
    background-color: rgba(33, 138, 113, 0.582);
    color: white;
}

.menu ul a.activo {
    background-color: #218A72;
    color: white;
    font-weight: bold;
}

.activo {
    color: #375750;
    font-weight: bold;
}

/*Menu hamburguesa página de contacto*/

.burger2 {
    display: none;
}

.burger2 .barra{
    height: 4px;
    width: 30px;
    margin: 8px auto;
    background-color: #8A3113;
}

.arriba, .media, .abajo {
    transition: all 700ms ease;
}

.burger2.abierto .arriba {
    transform: translateY(12px) rotateZ(45deg);
}

.burger2.abierto .media {
    width: 0;
}

.burger2.abierto .abajo {
    transform: translateY(-12px) rotateZ(-45deg);
}

.menu2 {
    position: absolute;
    top: 100px;
    left: 0;
    width: 80%;
    height: calc(100vh - 105px);
    background-color: rgb(255, 218, 206);
    z-index: 10;
    display: none;
    margin-top: 5px;
}

.menu2 ul{
    display: flex;
    flex-direction: column;
}

.menu2 ul a{
    width: 100%;
    padding: 10px 20px;
    transform: translateX(-200px);
    color: #3f3f3f;
    font-size: 20px;
}

.menu2 ul a.activo{
    color: #8A3113;
}

.menu2 ul a:nth-child(1) {
    transition: transform 500ms ease-in-out;
}

.menu2 ul a:nth-child(2) {
    transition: transform 700ms ease-in-out;
}

.menu2 ul a:nth-child(3) {
    transition: transform 900ms ease-in-out;
}

.menu2 ul a:nth-child(4) {
    transition: transform 1100ms ease-in-out;
}

.menu2 ul a.aparicion {
    transform: translateX(0px);
}

/*Hero*/

.hero {
    width: 100%;
    height: 100vh;
    background-image: url('../img/vacation-homes-1209538_1920.jpg');
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 80px;
}

.hero h1 {
    display: inline;
    color: white;
    font-weight: none;
    font-size: 40px;
    /* background-color: #666666ab; */
    padding: 20px;
}

.eslogan {
    width: 100%;
    text-align: left;
    margin-bottom: 10vh;
}


.hero a {
    color: white;
    font-size: 48px;
    /* align-self: flex-end; */
}

.hero a:hover {
    color: #8A3113;
}

.busqueda {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.busqueda input::-webkit-input-placeholder {
    color: white;
}

/* #busqueda::-webkit-input-placeholder {
    background-image: url('../img/icons8-búsqueda.svg');
    background-repeat: no-repeat; 
    text-indent: 40px; 
    color: white;
} */


.busqueda input {
    border: solid 1px rgba(255, 255, 255, 0.500);
    border-radius: 5px;
    color: #d2fff5;
    font-size: 22px;
    padding: 10px;
    background-color: rgba(85, 87, 87, 0.500);
}

.busqueda input::placeholder {
    color: white;
}


/*Secciones de información*/

.fila {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid green; */
}

.col1 {
    /* border: 1px solid black; */
    flex-basis: 300px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col2 {
    /* border: 1px solid black; */
    flex-basis: 300px;
    flex-grow: 2;
}

.col3 {
    /* border: 1px solid black; */
    flex-basis: 300px;
    flex-grow: 2;
    align-self: center;
}

.col4 {
    /* border: 1px solid black; */
    flex-basis: 300px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen {
    border-radius: 50px;
}

.titulo {
    color: rgb(45, 126, 108);
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion {
    border: #375750 solid 1px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Botones de compra y alquiler*/

.boton {
    margin: 20px;
    color: white;
    font-size: 22px;
    padding: 10px;
    border-radius: 10px;
    background-color: #8A3113;
}

.boton:hover {
    background-color: #D66D49;
    color: black;
    font-weight: inherit;
}



.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Seccion frase de anuncio*/

.fondo {
    margin: 0;
    padding: 60px 40px;
    background-image: url('../img/home-2112652_1280.jpg');
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
}

.frase {
    font-size: 40px;
    padding: 20px;
    background-color: rgba(138, 49, 19, 0.90); /* rgba(255, 254, 254, 0.651);*/
    color: white;
}

/*Suscripción a Newsletter*/

.miniform {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.miniform input {
    border: solid 1px #375750;
    color: #8A3113;
    font-size: 24px;
    padding: 10px;
}

input:focus {
    outline: none;
}

.miniform p {
    color: #8A3113;
    font-size: 28px;
}

.miniform .boton {
    border: solid 1px #375750;
    background-color: #375750;
    color: white;
    font-size: 24px;
    padding: 10px;
}

/*Estilos para contacto*/

 .primera {
    margin-top: 120px;
}


.direccion {
    line-height: 2em;
}

.legales h1 {
    font-size: 28px;
    padding-bottom: 10px;
}

.legales h1+h2{
    padding-top: 10px;
}

.legales h2 {
    font-size: 18px;
}

.legales p, li {
    font-size: 16px;
    padding: 10px;
    line-height: 1.5em;
}

.legales ul {
    padding-left: 40px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 98%;
    padding: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.52);
    z-index: 1;
}

.col50 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.col33 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 33%;
}

.col66 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 66%;
}


.colboton {
    margin-top: 20px;
    padding: 10px;
    display: flex; 
    justify-content: space-between;
    width: 100%;
}

#boton {
    font-size: 20px;
    color: white;
    background-color: #8A3113;
    padding: 10px;
    width: 20%;
    border: none;
}

#boton:hover {
    background-color: rgb(240, 156, 128);
    color: rgb(112, 36, 11);
    cursor: pointer; 
}

input[type="checkbox"] {
    position: relative;
    top: 5px;
    right: 5px;
} 

label {
    padding: 5px;
    color: #375750;
}

.contenedor input {
    font-size: 18px;
    padding: 5px;
    border: solid 2px #8A3113;
} 

.contenedor h3 {
    text-align: center;
    padding: 10px;
}

.localizacion {
    width: 100%;
    text-align: center;
    padding: 20px;
}


/*Footer*/

footer {
    background-color: #218A72;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

footer p {
    font-size: 18px;
    padding: 5px;
}

.top {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -20px;
    left: 50%; /*es lo que lo pone en la mitad de la página*/
    transform: translateX(-50%); /*La mitad del ancho del elemento*/
    font-size: 36px;
    background-color: #218A72;
    color: whitesmoke;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top a {
    color:  white;
}

.izquierdo {
    /* border: #d2fff5 solid 1px; */
    padding: 20px;
    flex-basis: 200px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.centro {
    /* border: #d2fff5 solid 1px; */
    padding: 20px;
    flex-basis: 100px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.centro p {
    font-size: 22px;
    font-weight: bold;
}

.centro a {
    color: white;
    font-size: 18px;
}

.derecho {
    /* border: #d2fff5 solid 1px; */
    flex-basis: 100px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.derecho p {
    font-size: 22px;
    font-weight: bold;
}

.derecho a{
    color: white;
}

.rrss a{
    color: white;
    font-size: 30px;
    padding: 5px;
}

.rrss a:hover {
    font-size: 38px;
}


.copy {
    padding: 5px;
    width: 100%;
    background-color: white;
    color: #375750;
}

.copy p{
    font-size: 14px;
    text-align: center;
}



/*Media queries*/

@media (min-width: 1280px) {
   
    .hero, .fondo {
        background-attachment: fixed; 
    }

}

@media (max-width:960px) {

    .fila{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col1, .col2, .col3 {
        flex-basis: initial;
    }

    .col50, .col33, .col66 {
        width: 100%;
    }

    .col2 {
        width: 100%;
    }
}

@media(max-width:720px){

    .hero, .fondo {
        background-attachment: fixed; 
    }

    .fila{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col1, .col2, .col3 {
        flex-basis: initial;
    }

    .col50, .col33, .col66 {
        width: 100%;
    }

    .colboton {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .columna{
        margin: 10px;
    }

    .hero h1{
        font-size: 28px;
        text-align: center;
        padding: 0 20px;
     }

    .eslogan{
        font-size: 28px;
        margin:0;
    }

    .frase {
        font-size: 30px;
        padding: 10px;
        background-color: rgba(138, 49, 19, 0.90); /* rgba(255, 254, 254, 0.651);*/
        color: white;
    }

    .titulo {
        text-align: center;
        font-size: 20px;
    }

    .fila .seccion {
        width: 300px;
    }

    .imagen {
        width: 300px;
    }

    .busqueda input {
    font-size: 16px;
    padding: 8px;
    }
}

@media (max-width:640px){

    .hero {
        background-attachment: scroll; 
    }

    .burger, .burger2{
        display: initial;
    }
    
    nav {
        display: none;
    }

    .titulo {
        text-align: center;
        font-size: 16px;
    }

    .hero h1{
        font-size: 24px;
        text-align: center;
        padding: 0 20px;
    }

    p{
        font-size: 18px;
    }

    .imagen {
        width: 200px;
    }

    .fondo{
        padding: 0 20px;
    }

    .miniform{
        font-size: 18px;
        text-align: center;
    }

    .miniform input {
        font-size: 18px;
    }
    
    .miniform .boton {
        font-size: 18px;
    }

    .izquierdo .centro .derecho{
        flex-basis: 200px;
    }

    .derecho{
        justify-content: center;
    }

    .izquierdo{
        text-align: center;
    }

    .frase {
        font-size: 20px;
        padding: 5px;
        background-color: rgba(138, 49, 19, 0.90); /* rgba(255, 254, 254, 0.651);*/
        color: white;
    }

    .busqueda input {
        font-size: 16px;
        padding: 5px;
    }

    .boton {
    font-size: 18px;
    padding: 8px;
    }

    .col1, .col2, .col3 {
        flex-basis: initial;
    }

    .col50, .col33, .col66 {
        width: 100%;
    }

    .fila.fondo .col1 .frase {
        font-size: 22px;
        padding: 5px;
        text-align: center;
    }

    .fila.fondo {
        padding: 30px 20px;
        background-attachment: scroll;
    }

    #boton {
        font-size: 14px;
    }


}

@media (max-width: 420px){

    .hero {
        background-attachment: cover; 
    }

    .imagen {
        width: 150px;
    }

    .fila{
        margin: 20px 0px 20px 0px;
    }

    .fila.primera{
        margin: 100px 0px 20px 0px;
    }

    .hero h1{
        font-size: 22px;
        text-align: center;
        padding: 0 20px;
     }

     .miniform{
        font-size: 14px;
        text-align: center;
    }

    .miniform input {
        font-size: 16px;
    }
    
    .miniform .boton {
        font-size: 16px;
    }

    .ultima{
        margin: 20px 0 40px 0;
    }

    .izquierdo{
        margin-top: 20px;
        text-align: center;
    }

    .derecho a{
        font-size: 22px;
    }

    .titulo {
        text-align: center;
        font-size: 14px;
    }

    .col50, .col33, .col66 {
        width: 100%;
    }

    .col1, .col2, .col3 {
        flex-basis: initial;
    }

    .boton {
        font-size: 16px;
    }

    .busqueda input {
        font-size: 14px;
        padding: 4px;
    }

    p{
        font-size: 16px;
    }

    .col1 img {
        width: 350px;
    }

    #boton {
        font-size: 14px;
    }
    .col1 img {
        width: 350px;
    }

}

@media (max-width: 330px) {
    .col1 img {
        width: 200px;
    }

    #boton {
        font-size: 12px;
    }

}